section {
    padding-bottom: 0px;
}

footer {
    padding: 40px 0px 0px 0px;
}

.brand-title {
    color: #fff !important;
    font-size: 35px;
    font-family: robot;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.justify {
    text-align: justify;
}

.line-25 {
    line-height: 25px;
}

.line-30 {
    line-height: 30px;
}

header .navbar-default ul.navbar-nav {
    padding-top: 0;
}

.scrolled ul.navbar-nav {
    padding-top: 10px !important;
}

.imgDimension {
    height: 100%;
}

.material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom : 0px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}

.text-right {
    text-align: right;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #FFFFFF;
}

.dropdown-menu > li > a {
    color: #3ba199 !important;
    margin-left: 70px;
}

header .navbar-default ul.navbar-nav li ul.dropdown-menu li a:after {
    content: none;
}

@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-left: -25px;
    }
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF !important;
    }

    .navbar-default.scrolled .navbar-nav .open .dropdown-menu > li > a {
        color: #3ba199 !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #3ba199 !important;
    }

    header .navbar-default.scrolled ul.navbar-nav li a .dropdown-menu > li > a,
    header .navbar-default.scrolled ul.navbar-nav li a .dropdown-menu > li > a:hover,
    header .navbar-default.scrolled ul.navbar-nav li a .dropdown-menu > li > a:focus {
        color: #3ba199 !important;
    }
}